<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Snacks CRUD</title>
</head>
<body>
    <header>
        <h1>Django Snacks CRUD</h1>
        <nav>
            <a href="{% url 'hike_list' %}">Snack List</a>
            
        </nav>
    </header>
    <main>
        {% block trails %}
            <h2>If you can read this, you need to set a block in child template.</h2>
        {% endblock trails %}

    </main>
    
</body>
</html>